<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="none">
  <test name="Login with correct creds">
  <parameter name="testName" value="Login with valid username/password" />
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Login with wrong user">
  <parameter name="userName" value="wrongUser" />
  <parameter name="password" value="SuperSecretPassword!" />
  <parameter name="errorMessage" value="Your username is invalid!" />
  <parameter name="testName" value="Login with wrong user" />
    <classes>
      <class name="tests.LoginTest_wrongCreds"/>
    </classes>
  </test> <!-- Test -->
  <test name="Login with wrong password">
  <parameter name="userName" value="tomsmith" />
  <parameter name="password" value="wrongPassword" />
  <parameter name="errorMessage" value="Your password is invalid!" />
   <parameter name="testName" value="Login with wrong password" />
    <classes>
      <class name="tests.LoginTest_wrongCreds"/>
    </classes>
  </test> <!-- Test -->
   <test name="Verify checkboxes">
  <parameter name="testName" value="Verify checkboxes" />
    <classes>
      <class name="tests.CheckCheckbox"/>
    </classes>
  </test> <!-- Test -->
  <test name="Check dropdown">
  <parameter name="testName" value="Check dropdown" />
    <classes>
      <class name="tests.DropDownTest"/>
    </classes>
  </test> <!-- Test -->
   <test name="Check File Upload">
  <parameter name="testName" value="Check File Upload" />
    <classes>
      <class name="tests.FileUploadTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Check Alerts">
  <parameter name="testName" value="Check Alerts" />
    <classes>
      <class name="tests.AlertTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Check Multiple Windows">
  <parameter name="testName" value="Check Multiple Windows" />
    <classes>
      <class name="tests.WindowTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Check Scroll functionality">
  <parameter name="testName" value="Check Scroll functionality" />
    <classes>
      <class name="tests.ScrollTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Drag and drop test">
  <parameter name="testName" value="Drag and drop test" />
    <classes>
      <class name="tests.DragAndDropTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
