<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="none">
  <test name="Login with correct creds">
  <parameter name="testName" value="Login with valid username/password" />
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Login with wrong user">
  <parameter name="userName" value="wrongUser" />
  <parameter name="password" value="SuperSecretPassword!" />
  <parameter name="errorMessage" value="Your username is invalid!" />
  <parameter name="testName" value="Login with wrong user" />
    <classes>
      <class name="tests.LoginTest_wrongCreds"/>
    </classes>
  </test> <!-- Test -->
  <test name="Login with wrong password">
  <parameter name="userName" value="tomsmith" />
  <parameter name="password" value="wrongPassword" />
  <parameter name="errorMessage" value="Your password is invalid!" />
   <parameter name="testName" value="Login with wrong password" />
    <classes>
      <class name="tests.LoginTest_wrongCreds"/>
    </classes>
  </test> <!-- Test -->
  <test name="Check both checkboxes">
   <parameter name="testName" value="Check both checkboxes" />
    <classes>
      <class name="tests.CheckBoxesTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Dropdown value selection">
   <parameter name="testName" value="Dropdown value selection" />
    <classes>
      <class name="tests.DropDownTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
